:root {
    --primary: #2E7D32; /* forest green for the navbar, footer, and product highlights. */
    --secondary: #C8E6C9; /* mint green for section backgrounds to break up content visually. */
    --accent: #FFB300; /* amber sparingly for buttons or icons to guide user attention. */
    --neutral: #F5F5F5; /* Clean background for content sections. Enhances readability. */
    --text: #212121; /* Strong contrast for body text. Modern and accessible. */
    --font-one: 'Roboto', Arial, Helvetica, sans-serif;
    --font-two: 'Open Sans', Arial, Helvetica, sans-serif;
}

body {
    padding: 20px;
    background-color: var(--secondary);
}

.css-header-style{
    background-color: var(--primary);
    font-family: var(--font-one);
}

.css-h1-style{
    color: var(--neutral);
    font-size: 2em;
}

h1, h2, h3 {
    color: #333;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.btn-custom {
    background-color: #007bff;
    color: white;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
    position: relative;
    bottom: 0;
    width: 100%;
}

.css-footer-style{
    background-color: var(--primary);
    font-family: var(--font-one);
}
.css-footer-p-style{
    color: var(--neutral);
    font-size: 16px;
}